// Place all the styles related to the users_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require bootstrap/dist/css/bootstrap.css
 *= require font-awesome
 *= require nprogress/nprogress
 *= require malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar
 *= require jquery-ui/themes/base/datepicker
 *= require jquery-ui/themes/base/theme
 *= require custom
*/


@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset_path('glyphicons-halflings-regular.eot');
  src: asset_path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'); 
  src: asset_path('glyphicons-halflings-regular.woff2') format('woff2');
  src: asset_path('glyphicons-halflings-regular.woff') format('woff');
  src: asset_path('glyphicons-halflings-regular.ttf') format('truetype');
  src: asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
